@{
    ViewBag.Title = "About";
}

<div class="card">
    <h2>@ViewBag.Title</h2>

    <p>
        <a href="https://telerikacademy.com/" target="_blank">TelerikAcadmey</a>
        ASP.NET MVC Final Project by
        <a href="https://github.com/markshark05" target="_blank">markshark05</a>.
    </p>
    <p>You can find the source <a href="https://github.com/markshark05/GForum" target="_blank">here</a>.</p>
</div>