@using GForum.Web.Models.Forum
@model IEnumerable<CategoryViewModel>
@{
    ViewBag.Title = "Forum Home";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-xs-12">
        @foreach (var category in Model)
        {
            <div class="card">
                <h4 class="title-one-line">
                    @Html.ActionLink(category.Title, "Category", "Categories", new { id = category.Id }, null)
                </h4>
                <p class="text-muted">
                    @Html.Partial("_SubmittedByPartial", category)
                    <span>&bull;</span>
                    @("post".ToQuantity(category.PostsCount))
                </p>
            </div>
        }
    </div>
</div>
