@using GForum.Web.Models.Shared
@{ var dynamicModel = new SubmittedByPartialViewModel
    {
        Author = new AuthorViewModel
        {
            UserName = Model.Author.UserName,
            Email = Model.Author.Email
        },
        CreatedOn = Model.CreatedOn
    };
}

<span>Submitted by</span>
<a href="@Url.Action("Profile", "Users", new { username = dynamicModel.Author.UserName })">
    @Html.GravatarImage(dynamicModel.Author.Email, size: 15, cssClass: "profile-picture")
    @dynamicModel.Author.UserName
</a>
<span>@dynamicModel.CreatedOn.Humanize(dateToCompareAgainst: DateTime.Now)</span>
