@model dynamic

<span>
    Submitted by
    <a href="@Url.Action("Profile", "Users", new { username = Model.Author.UserName })">
        @Html.GravatarImage((string)Model.Author.Email, size: 15, cssClass: "profile-picture")
        @(Model.Author.UserName)
    </a>
    @(((DateTime)Model.CreatedOn).Humanize(dateToCompareAgainst: DateTime.Now))
</span>
