@using GForum.Common.Enums
@model dynamic

<div class="vote-container" data-vote-url="@Url.Action("Vote", "PostsAjax", new { postId = Model.Id })">
    <div 
         class="vote-btn glyphicon glyphicon-arrow-up @(Model.UserVoteType == VoteType.Upvote ? "active" : "")" 
         data-vote-type="Upvote"></div>
    <div class="vote-count">@(((int)Model.VoteCount).ToMetric())</div>
    <div 
         class="vote-btn glyphicon glyphicon-arrow-down @(Model.UserVoteType == VoteType.Downvote ? "active" : "")" 
         data-vote-type="Downvote"></div>
</div>