/*Globals*/
body {
    padding-top: 75px;
    padding-bottom: 25px;
    background-color: ghostwhite;
    overflow-y: scroll;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

button.glyphicon {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #666;
}

    button.glyphicon:hover {
        color: #000;
    }

.user-navabar-avatar {
    width: 35px;
    margin: 7.5px auto;
    border-radius: 50%;
}

.margin-bottom {
    margin-bottom: 20px;
}

.grid-mvc {
    overflow: auto;
}

/*Forum*/
.card {
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

    .card a {
        margin: 0 2px;
    }

    .card .title-one-line {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .card .title {
        margin-top: 0;
    }

    .card .content {
        font-size: 1em;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px 20px;
    }

        .card .content p {
            margin: 5px 0;
        }

.card-home {
   background-color: #eee;
}


.comment.form-control {
    min-height: 50px;
    margin-bottom: 10px;
}


/*User profile*/
.profile-picture {
    border-radius: 50%;
}

.profile-details {
    padding: 0 40px;
}

/*Post submit*/
.md-help {
    overflow: auto;
}

    .md-help td {
        border: 1px solid gray;
        padding: 5px;
    }

    .md-help p {
        text-align: center;
    }

    .md-help table {
        margin: 0 auto;
    }

    .md-help .title {
        background-color: aliceblue;
        text-align: center;
    }

/*Votes*/
.vote-container {
    float: left;
    width: 20px;
}

.vote-btn {
    font-size: 20px;
    cursor: pointer;
    color: #777;
}

    .vote-btn.active {
        color: #337ab7;
    }

.vote-count {
    width: 40px;
    height: 20px;
    margin-left: -10px;
    text-align: center;
}
