body {
    padding-top: 75px;
    padding-bottom: 25px;
    background-color: ghostwhite;
    overflow-y: scroll;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.user-navabar-avatar {
    width: 35px;
    margin: 7.5px auto;
    border-radius: 50%;
}

.category {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

    .category .title {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
