body {
    padding-top: 75px;
    padding-bottom: 25px;
    background-color: ghostwhite;
    overflow-y: scroll;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.user-navabar-avatar {
    width: 35px;
    margin: 7.5px auto;
    border-radius: 50%;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    overflow: hidden;
}
    .card .title-one-line {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .card .content {
        font-size: 1em;
        border: 1px solid #024;
        border-radius: 5px;
        padding: 15px;
    }
    .card .content p {
        margin: 5px 0;
    }


.profile-picture {
    border-radius: 50%;
}

.profile-details {
    padding: 0 40px;
}
