@using GridMvc.Html
@using GForum.Web.Areas.Admin.Models
@model AdminCategoriesViewModel

<div class="card">
    <h2>Categories</h2>

    @Html.Partial("_AddCategoryPartial", Model.CategoryAdd)

    @Html.Grid(Model.CategoriesQueriable).Columns(columns =>
    {
        columns.Add(c => c.Title).Sortable(true);
        columns.Add(c => c.Author.UserName).Titled("Author").Sortable(true);
        columns.Add(c => c.Posts.Count).Titled("Posts").Sortable(true);
        columns.Add(c => c.CreatedOn).Titled("Created").Sortable(true)
            .RenderValueAs(x => x.CreatedOn.Humanize(dateToCompareAgainst: DateTime.Now));
        columns.Add(c => c.DeletedOn).Titled("Deleted").Sortable(true)
            .RenderValueAs(x => x.DeletedOn.Humanize(dateToCompareAgainst: DateTime.Now));
    }).WithPaging(10)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/jqueryval")
}