@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title</h2>

<h4 class="text-muted">Change your account settings</h4>

<div>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>@Html.ActionLink("Change your email", "ChangeEmail")</dd>
        <dt>Password:</dt>
        <dd>@Html.ActionLink("Change your password", "ChangePassword")</dd>
    </dl>
</div>
