@using GridMvc.Html
@using GForum.Web.Areas.Admin.Models
@model AdminPostsViewModel

<div class="card">
    <h2>Manage posts</h2>

    @Html.Grid(Model.PostsQueriable).Columns(columns =>
    {
        columns.Add(c => c.Title).RenderValueAs(x => x.Title.Truncate(20));
        columns.Add(c => c.Content).RenderValueAs(x => x.Content.Truncate(20));
        columns.Add(c => c.Author.UserName).Titled("Author");
        columns.Add(c => c.Category.Title).Titled("Category");

        columns.Add(c => c.CreatedOn).Titled("Created")
            .RenderValueAs(x => x.CreatedOn.Humanize(dateToCompareAgainst: DateTime.Now));

        columns.Add(c => c.DeletedOn).Titled("Deleted")
            .RenderValueAs(x => x.DeletedOn.Humanize(dateToCompareAgainst: DateTime.Now));

    }).WithPaging(10).Sortable(true).Selectable(false)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/Scripts/Site/Admin/delete-controller.js")
}